<ng-template #editMeetRoom>
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">MeetRoom Id: {{ this.id }}</h5>
              </div>
              <div class="modal-body">
                <div class="row" [formGroup]="formEditMeetroom">
                  <div class="col">
                    <img [src]="imageUpdate" alt="" height="230px" width="230px" id="imageMeet">
                    <input type="file" class="d-none"  id="imageFile" (change)="onFileSelectUpdate($event)">
                    <label for="imageFile" style="margin-top: 25px" class="btn btn-primary">Select</label>

                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="">Name</label>
                      <input type="text" class="form-control" formControlName="name"   aria-describedby="helpId" placeholder="">
                      <small id="helpId" class="form-text text-danger">

                      </small>
                    </div>
                    <div class="form-group">
                      <label for="">Address</label>
                      <input type="text" class="form-control"  formControlName="address" aria-describedby="helpId" placeholder="">
                      <small id="helpId" class="form-text text-danger">

                      </small>
                    </div>
                    <div class="form-group">
                      <label for="">Seats</label>
                      <input type="number" class="form-control"  formControlName="seats" aria-describedby="helpId" placeholder="">
                      <small id="helpId" class="form-text text-danger">

                      </small>
                    </div>

                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                <button class="btn btn-primary" data-dismiss="modal" [disabled]="formEditMeetroom?.invalid" (click)="update()">Cập Nhật</button>
              </div>
      </ng-template>
<button class="btn btn-primary"  (click)="open(editMeetRoom)"><i class="fas fa-edit"></i></button>
